<div>
  <%= image_tag 'no_image_book.jpg', size: '80x80'%>
  <p>Title:<%= @book.title %></p>
  <p>Body：<%= @book.body %></p>
  <p>投稿者：<%= @book.user.name %></p>
  <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>
</div>