<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/form', user: @user, newbook: @newbook %>
    </div>

    <div class="col-md-8 offset-md-1">
<!-- ユーザーの投稿一覧 -->
      <h2>Book detail</h2>
      <table class="table">
        <!--<thead>-->
        <!--    <tr>-->
        <!--      <th></th>-->
        <!--      <th>Title</th>-->
        <!--      <th>Option</th>-->
        <!--      <% if @book.user == current_user %>-->
        <!--        <th></th>-->
        <!--      <% end %>-->
        <!--    </tr>-->
        <!--</thead>-->
        <tbody>
            <tr>
              <td>
                <!--image-->
                <%= link_to user_path(@book.user.id) do %>
                  <%= image_tag @book.user.get_profile_image(100,100) %>
                <% end %>
              </td>
              <td>
                <!--title-->
                <%= link_to "#{@book.title}", book_path(@book.id) %>
              </td>
              <td>
                <!--body-->
                <%= @book.body %>
              </td>
                <% if @book.user == current_user %>
                  <td>
                    <%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success" %>
                  </td>
                  <td>
                    <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "投稿を削除します。よろしいですか？"}, class:"btn btn-danger" %>
                  </td>
                <% end %>
            </tr>
        </tbody>
      </table>
      <%=link_to "#{@book.user.name}", user_path(@book.user.id) %>

    </div>
  </div>
</div>